body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  background-color: #202020;
}

header {
  background: #333;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  padding-bottom: 4px;
  transition: border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
}

nav ul li a:hover {
  border-bottom: 2px solid white;
}

nav ul li a.active {
  border-bottom: 2px solid white;
}

.swiper {
  width: 100%;
  height: 100vh;
  color: rgb(233, 233, 233);
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background: #333;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
  display: none;
  position: absolute;
  bottom: 0;
}

.swiper-pagination {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: gray;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: rgb(211, 211, 211);
  opacity: 1;
  transform: scale(1.2);
}

#home h1 {
  font-size: 64px;
  font-weight: bold;
  margin: 0;
}

.swiper-slide h1 {
  font-size: 64px;
  font-weight: bold;
  margin: 0;
}

#about {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  text-align: left;
  gap: 20px;
}

#about h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

#about img {
  width: 300px;
  height: auto;
  border-radius: 50px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  flex-shrink: 0;
}

#about .about-content {
  max-width: 600px;
  margin-left: 20px;
}

#about p {
  font-size: 20px;
  line-height: 1.6;
  margin-top: 10px;
}

#skill {
  padding: 40px 20px;
}

.skills-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -100px;
}

#skill h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

#skill p {
  font-size: 20px;
  margin-bottom: 30px;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.skill-item img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 8px;
}

.skill-item span {
  font-size: 14px;
  color: #ddd;
}

#projects {
  padding: 60px 20px;
}

.projects-content {
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects h2 {
  font-size: 48px;
  margin-bottom: 80px;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.project-card {
  width: 250px;
  background-color: #2e2e2e;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.project-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card-info {
  padding: 15px;
  text-align: left;
}

.card-info h3 {
  margin: 0 0 10px;
  font-size: 20px;
  color: #ffffff;
}

.card-info p {
  margin: 0;
  font-size: 14px;
  color: #cccccc;
}

.github-link {
  color: #d8f4ff; /* 하늘색 */
  text-decoration: none; /* 밑줄 제거 */
  font-weight: bold;
  display: inline-block;
  margin-top: 8px;
  transition: color 0.3s;
}

.github-link:hover {
  color: #c5ecff;
}
